* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(
    135deg,
    #667eea,
    #764ba2,
    #6dd5ed
  );

  padding: 20px;
}

.container {
  width: 100%;
  max-width: 500px;

  background: rgba(255, 255, 255, 0.15);

  backdrop-filter: blur(12px);

  border: 1px solid rgba(255, 255, 255, 0.2);

  border-radius: 20px;

  padding: 30px;

  box-shadow:
    0 8px 32px rgba(0, 0, 0, 0.2);
}

.header {
  text-align: center;
  margin-bottom: 25px;
}

.header h1 {
  color: white;
  font-size: 38px;
  margin-bottom: 8px;
}

.header p {
  color: #f1f1f1;
  font-size: 15px;
}

.input-section {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

#taskInput {
  flex: 1;

  padding: 14px;

  border: none;

  border-radius: 12px;

  outline: none;

  font-size: 15px;
}

#addBtn {
  padding: 14px 18px;

  border: none;

  border-radius: 12px;

  background: #111827;

  color: white;

  cursor: pointer;

  font-weight: 600;

  transition: 0.3s;
}

#addBtn:hover {
  transform: scale(1.05);
}

.filter-section {
  display: flex;
  justify-content: center;
  gap: 10px;

  margin-bottom: 20px;
}

.filter-btn {
  border: none;

  padding: 10px 15px;

  border-radius: 10px;

  cursor: pointer;

  background: rgba(255, 255, 255, 0.2);

  color: white;

  transition: 0.3s;
}

.filter-btn:hover,
.filter-btn.active {
  background: white;
  color: black;
}

.stats {
  display: flex;
  justify-content: space-between;

  margin-bottom: 20px;

  color: white;

  font-weight: 500;
}

#taskList {
  list-style: none;
}

.task-item {
  background: rgba(255, 255, 255, 0.2);

  padding: 15px;

  border-radius: 14px;

  margin-bottom: 15px;

  display: flex;

  justify-content: space-between;

  align-items: center;

  animation: fadeIn 0.3s ease;
}

.task-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.task-text {
  color: white;
  font-size: 15px;
}

.completed {
  text-decoration: line-through;
  opacity: 0.6;
}

.task-buttons {
  display: flex;
  gap: 8px;
}

.task-buttons button {
  border: none;

  padding: 8px 10px;

  border-radius: 8px;

  cursor: pointer;

  font-size: 13px;

  transition: 0.3s;
}

.complete-btn {
  background: #10b981;
  color: white;
}

.edit-btn {
  background: #f59e0b;
  color: white;
}

.delete-btn {
  background: #ef4444;
  color: white;
}

.task-buttons button:hover {
  transform: scale(1.08);
}

.empty-message {
  text-align: center;
  color: white;
  margin-top: 20px;
}

@keyframes fadeIn {

  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}